.biller-page-container {
  width: 100%;
  height: calc(100vh - 50px);
}

.bill-section-container {
  width: 35%;
  margin: 0 auto;
  padding: 10px 10px;
  background-color: aliceblue;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.bill-section1 {
  padding: 10px 20px;
}

.section-title {
  margin-bottom: 10px;
}
.section-title span {
  font-size: 34px;
  font-weight: 600;
}

.section-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bill-data-row {
  margin-bottom: 2px;
}

.bill-data-cat {
  font-size: 16px;
  font-weight: 500;
  color: grey;
}

.bill-section2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.order-items {
  margin-bottom: 5px;
}

.table-structure {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.order-labels {
  margin-bottom: 10px;
}

.order-label-id {
  width: 8%;
  display: flex;
  justify-content: center;
}

.order-label-name {
  width: 55%;
  display: flex;
  justify-content: flex-start;
  padding-left: 16px;
}

.order-label-custom {
  width: 15%;
  display: flex;
  justify-content: center;
}

.order-label-price {
  width: 15%;
  display: flex;
  justify-content: flex-end;
}

.bill-item-id {
  width: 8%;
  display: flex;
  justify-content: center;
  font-size: 14px;
}
.bill-item-name {
  width: 55%;
  display: flex;
  justify-content: flex-start;
  padding-left: 16px;
  font-size: 14px;
}
.bill-item-custom {
  width: 15%;
  display: flex;
  justify-content: center;
  font-size: 14px;
}
.bill-item-price {
  width: 15%;
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
}

.bill-section3 {
  width: 100%;
  margin-top: 20px;
}

.bill-component {
  width: 100%;
  margin-bottom: 30px;
}

.bill-amount-label {
  width: 50%;
  float: left;
  padding-left: 20px;
}

.bill-amount-figure {
  float: right;
}

.bold {
  font-weight: 500;
  font-size: 20px;
}
